!!!
%html{:lang => "ja"}
  %head
    %meta(charset="UTF-8")
  %body
    .color.container
      %p hello
    #main
      %ul
        %li item1
        %li item2
  
    /  
      インデント（半角 2 文字分）を統一しないとエラーになります
      

    -#
      HTML出力されないコメント
      HTML出力されないコメント
  　