<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>HTML練習</title>
        <style>
            body{
                padding:10px;
            }
            .container{
            　
                font-family:sans-serif;
                padding:10px;
                background-color:skyblue;
                margin-bottom:30px;
                border:1px solid black;
            }
            .box{
                padding:15px;
            }
        </style>
    </head>
    <body>
        <div class ="container">
        <h1>Cloud9 で HTMLをリアルタイムで反映させる方法</h1>
      
        
        </div>
        
        <div class ="container">
        <h2 class ="hi-light">反映のさせ方</h2>
        <p>反映させたい HTML ファイルをアクティブ状態にする</p>
        <p>[Preview] →　[Live Preview File] の順に選択</p>
        </div>
        
        <div class ="container">
         <div class ="box">
          <h2 class ="hi-light">反映のさせ方</h2>
          <p>反映させたい HTML ファイルをアクティブ状態にする</p>
          <p>[Preview] →　[Live Preview File] の順に選択</p>
        </div>
        <hr>
        　<div class ="box">
           <h2>使ってみた感想</h2>
           <p>チョー便利！！</p>
           <p> 自分でつけたタグを吹き出し（ポップ）で知らせてくれている </p>
           <p> class タグ id タグを認識して「.」と「#」をつけてくれているのも GOOD</p>
          </div>
        </div>
        

    </body>
</html>